@using Demo.Models.DAO;
@using Demo.Models.DTO;
@{
    ViewBag.Title = "Index";
    ViewBag.UserName = Session["loginSession"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Include external CSS. -->
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">*@

<!-- Include Editor style. -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/froala-editor/css/froala_style.min.css" rel="stylesheet" type="text/javascript" />
<link href="~/Content/toastr.css" rel="stylesheet" />

@section jsFooter{
    <script>
        //$(function () {
        //    $('#textOfFroala').froalaEditor('html.set', '<p>sc1as56<strong>c14as6c</strong></p><p><strong><em>;alscj;acljac;</em></strong></p>');
        //});
        //function getText() {
        //    var html = $('textarea').froalaEditor('html.get');
        //    var text = JSON.stringify(html);
        //    alert(html);
        //}
    </script>
}
@*<style>
        a.classname {
            display: block;
            color: white;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
        }
    </style>*@
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Admin" style="color:#999999;"><span style="color:chartreuse">NEWS</span></a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse menu" class="col-sm-3 col-lg-2 sidebar" style="display:block;">
    <div class="profile-sidebar">
        <div class="profile-userpic">
            <img src="~/Areas/Admin/Assets/_layout/images/ffff.png" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">@ViewBag.UserName</div>
            <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <ul class="nav menu">
        @*<li><div id="home" onclick="clickItem(this)"><img src="/Areas/Admin/Assets/_layout/images/home.png" width="17" height="17" style="margin-right: 5px;" />Home</div></li>*@
        @*<li><div id="intro" onclick="clickItem(this)"><img src="/Areas/Admin/Assets/_layout/images/introduce.png" width="17" height="17" style="margin-right: 5px;" />Introduces</div></li>*@
        <li><div id="news" onclick="clickItem(this)"><em class="fa fa-clone">&nbsp;</em>News</div></li>
        @*<li><div id="partners" onclick="clickItem(this)"><img src="/Areas/Admin/Assets/_layout/images/partners.png" width="17" height="17" style="margin-right: 5px;" />Partners</div></li>*@
        <li><a href="/Admin/LoginAdmin"><em class="fa fa-power-off">&nbsp;</em>Log Out</a></li>
    </ul>
    @*<div style="margin-left:35%;margin-top:50%;" class="btn btn-danger">@Html.ActionLink("Log Out", "Logout", "LoginAdmin", null, new { @class = "classname" })</div>*@
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" ng-controller="myIntroCntrl">

    <div id="_home" style="display:block;font-size:30px;text-align:center;height:30px;padding:5px;margin:20px;"><strong>Home Admin</strong></div>
    <div id="create_home_1" style="display:none;"></div>
    <div id="details_home_1" style="display:none;"></div>

    <div id="_intro" style="display:none;margin-top:40px;">
        <div style="font-size:30px; text-align:center; height: 30px; padding: 5px; margin:20px;"><strong>Introduces List</strong></div>
        <div class="btn btn-md btn-info" id="create_intro" onclick="clickBtn(this,'_intro')" ng-click="AddIntroduceDiv()"><span>Create</span></div>
        <table class="table" style="margin-top:10px;">
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Data</th>
                <th>Describe</th>
                <th>Color</th>
                <th>#</th>
            </tr>
            <tr ng-repeat="introduce in introduces">
                <td style="display:none;">{{introduce.Id}}</td>
                <td>{{introduce.Name}}</td>
                <td><img src="{{introduce.Img}}" height="100" width="100" style="border: 1px solid;background-color:lightgrey;" /></td>
                <td>{{introduce.Data}}</td>
                <td><div ng-bind-html-unsafe="introduce.Describe"></div></td>
                <td><input type="color" style="height:34px; float: left;" disabled="disabled" value="{{introduce.Color}}" /></td>
                <td>
                    <div class="btn btn btn-md btn-info" id="edit_intro" onclick="NoneBtn('_intro','create_intro_1')" ng-click="editIntroduce(introduce)"><span>Edit</span></div>
                    <div class="btn btn btn-md btn-info" id="details_intro" onclick="clickBtn(this,'_intro')" ng-click="editIntroduce(introduce)"><span>Details</span></div>
                    <div class="btn btn btn-md btn-info" id="delete_intro" ng-click="deleteIntroduce(introduce)"><span>Delete</span></div>
                </td>
            </tr>
        </table>
    </div>

    <div id="create_intro_1" style="display:none;">
        <h2 style="font-weight:bold;margin-top:30px;margin-bottom:30px;">Introduces</h2>
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <hr />
                <h3 style="margin-left:50px;"><span>{{Action}}</span></h3>
                <div style="display:none;"><input type="text" ng-model="idIntro" /></div>
                <div class="form-group">
                    <p class="control-label col-md-2">Name</p>
                    <input type="text" class="col-md-10 form-control" ng-model="nameIntro" required />
                </div>
                <div class="form-group">
                    <p class="control-label col-md-2">Image</p>
                    <div class="col-md-6" style="border:1px black solid;height:100px;width:100px;"><img src="" height="98" width="98" style="margin-left:-15px;background-color:lightgrey;" hidden="hidden" id="imageIntro" ng-model="imgIntro" /></div>
                    <input type="button" value="..." id="btnSelectedImageIntro" class="btn col-md-4" style="width:50px; margin-left: 5px;" ng-click="TextUrlImage()" />
                </div>
                <div class="form-group">
                    <p class="control-label col-md-2">Data</p>
                    <input type="text" class="col-md-10 form-control" ng-model="dataIntro" required />
                </div>
                <div class="form-group">
                    <p class="control-label col-md-2">Describe</p>
                    <div style="width:1000px; float:left;"><textarea id="textFroalaIntro" style="height:400px;" ng-model="describeIntro"></textarea></div>
                </div>
                <div class="form-group">
                    <p class="control-label col-md-2">Color</p>
                    <div class="col-md-10">
                        <input type="color" id="getColor" style="height:34px;float:left;width:50px;margin-left:-15px;" ng-model="colorIntro" />
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="{{Action}}" class="btn btn-success btn-md" style="margin-left:-15px;" onclick="NoneBtn('create_intro_1','_intro')" ng-click="AddUpdateIntro()" />
                        <input type="button" value="Cancel" class="btn btn-danger btn-md" style="margin-left:10px;" onclick="NoneBtn('create_intro_1','_intro')" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="details_intro_1" style="display:none;">
        <h3>Details Introduces</h3>


        <div style="margin-left:33%;">
            <div style="text-align:center;background-color:{{colorIntro}};height:300px;width:400px;">
                <div style="margin-top:30px;">
                    <img src="{{imgIntro}}" alt="" height="140" width="140" style="margin-top:30px;" />
                </div>
                <div style="color:white;">
                    <div style="font-size:60px;font-weight:bold;">
                        {{dataIntro}}
                        <br />
                    </div>
                    <div style="font-size:20px;">
                        <div ng-bind-html-unsafe="describeIntro"></div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:40%;">
                <input type="button" value="Edit" class="btn btn-success btn-md" onclick="NoneBtn('details_intro_1','create_intro_1')" />
                <input type="button" value="Cancel" class="btn btn-danger btn-md" onclick="NoneBtn('details_intro_1','_intro')" />
            </div>
        </div>
    </div>

    <div id="_news" style="display:none;">
        <div style="font-size:30px; text-align:center; height: 30px; padding: 5px; margin: 20px;"><strong>News List</strong></div>
        <div class="btn btn btn-md btn-info" id="create_news" onclick="clickBtn(this,'_news')" ng-click="AddNewDiv()"><span>Create</span></div>
        <table class="table" style="margin-top:10px;">
            <tr>
                <th width="150">Name</th>
                <th width="200">Img</th>
                <th width="450">Describe</th>
                <th width="250">#</th>
            </tr>
            <tr ng-repeat="New in News">
                <td>{{New.Name}}</td>
                <td><img src="{{New.Img}}" height="125" width="175" style="border: 1px solid;background-color:lightgrey;" /></td>
                <td><div ng-bind-html-unsafe="New.Describe"></div></td>
                <td>
                    <div class="btn btn btn-md btn-info" id="edit_news" onclick="NoneBtn('_news','create_news_1')" ng-click="editNew(New)"><span>Edit</span></div>
                    <div class="btn btn btn-md btn-info" id="details_news" onclick="clickBtn(this,'_news')" ng-click="editNew(New)"><span>Details</span></div>
                    <div class="btn btn btn-md btn-info" id="delete_news" ng-click="deleteNew(New)"><span>Delete</span></div>
                </td>
            </tr>
        </table>
    </div>

    <div id="create_news_1" style="display:none;">
        <h2 style="font-weight:bold;margin-top:30px;margin-bottom:30px;">News</h2>
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <hr />
                <h3 style="margin-left:50px;"><span>{{Action}}</span></h3>
                <div style="display:none;"><input type="text" ng-model="idN" /></div>
                <div class="form-group">
                    <p class="control-label col-md-2">Name</p>
                    <input type="text" class="col-md-10 form-control" ng-model="nameN" required />
                </div>
                <div class="form-group">
                    <p class="control-label col-md-2">Image</p>
                    <div class="col-md-6" style="border:1px black solid;height:125px;width:175px;"><img src="" height="123" width="172" style="margin-left:-15px;background-color:lightgrey;" hidden="hidden" id="imageN" ng-model="imgN" /></div>
                    <input type="button" value="..." id="btnSelectedImageN" class="btn col-md-4" style="width:50px; margin-left: 5px;" ng-click="TextUrlImageN()" />
                </div>
                <div class="form-group">
                    <p class="control-label col-md-2">Describe</p>
                    <div style="width:1000px; float:left;"><textarea id="textFroalaN" style="height:400px;" ng-model="describeN"></textarea></div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="{{Action}}" class="btn btn-success btn-md" style="margin-left:-15px;" onclick="NoneBtn('create_news_1','_news')" ng-click="AddUpdateN()" />
                        <input type="button" value="Cancel" class="btn btn-danger btn-md" style="margin-left:10px;" onclick="NoneBtn('create_news_1','_news')" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="details_news_1" style="display:none;">
        <h3>Details News</h3>

        <div style="margin-top:100px;margin-bottom:100px;">
            <h2 style="text-align:center;">{{nameN}}</h2>
            <div style="text-align:center;margin-bottom:25px;margin-top:25px;">

                <img src={{imgN}} alt="" height="650" width="1000" />
            </div>
            <div style="color:dimgray;text-align:left;">
                <div ng-bind-html-unsafe="describeN"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:40%;">
                <input type="button" value="Edit" class="btn btn-success btn-md" onclick="NoneBtn('details_news_1','create_news_1')" />
                <input type="button" value="Cancel" class="btn btn-danger btn-md" onclick="NoneBtn('details_news_1','_news')" />
            </div>
        </div>
    </div>

    <div id="_partners" style="display:none;">
        <div style="font-size:30px; text-align:center; height: 30px; padding: 5px; margin:20px;"><strong>Partners List</strong></div>
        <div class="btn btn-md btn-info" id="create_partners" onclick="clickBtn(this,'_partners')" ng-click="AddPartnerDiv()"><span>Create</span></div>
        <table class="table" style="margin-top:10px;">
            <tr>
                <th style="width:200px;">Name</th>
                <th>Image</th>
                <th style="width:500px;">Describe</th>
                <th>Background</th>
                <th>#</th>
            </tr>
            <tr ng-repeat="partner in partners">
                <td style="display:none;">{{partner.Id}}</td>
                <td>{{partner.Name}}</td>
                <td><img src="{{partner.Img}}" height="100" width="100" style="border: 1px solid;background-color:lightgrey;" /></td>
                <td><div ng-bind-html-unsafe="partner.Describe"></div></td>
                <td><img src="{{partner.Background}}" height="100" width="125" style="border: 1px solid;background-color:lightgrey;" /></td>
                <td>
                    <div class="btn btn btn-md btn-info" id="edit_intro" onclick="NoneBtn('_partners','create_partners_1')" ng-click="editPartner(partner)"><span>Edit</span></div>
                    <div class="btn btn btn-md btn-info" id="details_partners" onclick="clickBtn(this,'_partners')" ng-click="editPartner(partner)"><span>Details</span></div>
                    <div class="btn btn btn-md btn-info" id="delete_intro" ng-click="deletePartner(partner)"><span>Delete</span></div>
                </td>
            </tr>
        </table>
    </div>

    <div id="create_partners_1" style="display:none;">
        <h2 style="font-weight:bold;margin-top:30px;margin-bottom:30px;">Partners</h2>
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <hr />
                <h3 style="margin-left:50px;"><span>{{Action}}</span></h3>
                <div style="display:none;"><input type="text" ng-model="idPart" /></div>
                <div class="form-group">
                    <p class="control-label col-md-2">Name</p>
                    <input type="text" class="col-md-10 form-control" ng-model="namePart" required />
                </div>
                <div class="form-group">
                    <p class="control-label col-md-2">Image</p>
                    <div class="col-md-6" style="border:1px black solid;height:100px;width:100px;"><img src="" height="98" width="98" style="margin-left:-15px;background-color:lightgrey;" hidden="hidden" id="imagePart" ng-model="imgPart" /></div>
                    <input type="button" value="..." id="btnSelectedImagePart" class="btn col-md-4" style="width:50px; margin-left: 5px;" ng-click="TextUrlImagePart()" />
                </div>
                <div class="form-group">
                    <p class="control-label col-md-2">Describe</p>
                    <div style="width:1000px; float:left;"><textarea id="textFroalaPart" style="height:400px;" ng-model="describePart"></textarea></div>
                </div>
                <div class="form-group">
                    <p class="control-label col-md-2">Background</p>
                    <div class="col-md-6" style="border:1px black solid;height:100px;width:125px;"><img src="" height="98" width="123" style="margin-left:-15px;background-color:lightgrey;" hidden="hidden" id="backgroundPart" ng-model="backgroundPart" /></div>
                    <input type="button" value="..." id="btnSelectedBackgroundPart" class="btn col-md-4" style="width:50px; margin-left: 5px;" ng-click="TextUrlBackgroundPart()" />
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="{{Action}}" class="btn btn-success btn-md" style="margin-left:-15px;" onclick="NoneBtn('create_partners_1','_partners')" ng-click="AddUpdatePart()" />
                        <input type="button" value="Cancel" class="btn btn-danger btn-md" style="margin-left:10px;" onclick="NoneBtn('create_partners_1','_partners')" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="details_partners_1" style="display:none;">
        <h3>Details News</h3>
        <br />
        <div style="width:1400px; margin-left:20px;">
            <div style="text-align:center;height:600px;width:100%;background-image:url({{backgroundPart}});">
                <div>
                    <img src="{{imgPart}}" alt="" height="160" width="160" />
                </div>
                <div style="margin-bottom:15px;font-size:50px;font-weight:bold;">
                    {{namePart}}
                    <br />
                </div>
                <div style="font-size:16px;width:40%;margin-left:30%;">
                    <div ng-bind-html-unsafe="describePart"></div>
                </div>
                <div style="margin-left:43%;margin-top:75px;">
                    <a href="" style="color:none;text-decoration:none;font-size:20px;font-weight:bold;"><div style="text-align:center;background-color:white;width:21%;padding-top:06px;padding-bottom:6px;border-radius:6px;">QUESTIONS?</div></a>
                </div>
            </div>
        </div>


        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:40%;">
                <input type="button" value="Edit" class="btn btn-success btn-md" onclick="NoneBtn('details_partners_1','create_partners_1')" />
                <input type="button" value="Cancel" class="btn btn-danger btn-md" onclick="NoneBtn('details_partners_1','_partners')" />
            </div>
        </div>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/jquery-1.11.0.min.js"></script>
    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/froala-editor/js/froala_editor.pkgd.min.js"></script>
    <script>$(function () { $('textarea').froalaEditor(); });</script>
    <script src="/Assets/plugins/ckfinder.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Areas/Admin/Assets/js/sp-form-admin.js"></script>
    <script src="/Areas/Admin/Assets/js/sp-form-admin-index.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="http://code.angularjs.org/1.0.0/angular-1.0.0.js"></script>
}
